
/*Page Settings*/

body{
	font-family: sans-serif, Arial;
	/*margin-left: 75px;
	margin-top: 100px;
*/


}

.wrapper {
    margin: 30px auto;
    max-width: 90%;
}

.header {
    padding-bottom: 40px;
}

.footer {
    padding-top: 0px;
}







/*Screen Saver*/

#click{
	margin-bottom: 0px;
}



.takeover {

    position: fixed;
    background-image: url("images/screen.jpg");
    margin-top: -20px;
    padding: 0;

   /* height: 110vw; */
    width: 100%;
    height: 100%;

    
    z-index: 1;
    opacity: 0.7;
}









img.takeover{
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.columns {
   	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-width: 100px; /* Chrome, Safari, Opera */
    -moz-column-width: 100px; /* Firefox */
    column-width: 100px;




}

/*Type*/










h1{
    font-size: 45px;
    max-width: 800px;
}

/* to set font styles on specific elements, do it like this. you will now overwrite the styles set on the body */
p {  
    font-family: 'PT Serif', serif;
    font-size: 30px;
    max-width: 950px;
    margin-bottom: 1em;
 
}




/* style your links */

a{
    font-family: serif;
    font-size: 20px;
}
a:link { 
    text-decoration: none;
    color: black;



}

h1.uppercase {
    text-transform: uppercase;
}

h4.uppercase {
    text-transform: uppercase;
}

h3.uppercase {
    text-transform: uppercase;
}

p.author{
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-size: 30px;
}



h3{
    max-width: 900px;
    font-size: 30px;
}

h4{
    max-width: 900px;
    font-size: 30px;
}




div {
    cursor:pointer;
}

.arrows{
    width: 50px;
    position: relative;
    left: 47%;
}

a:visited {
    text-decoration: none;
    color: black;


}

a:hover {
    text-decoration: none;
    color: black;


}

a:active {
    text-decoration: none;
    color: black;


}








/*Images*/

.thumbnail{
    width: 300px;
    display: inline-block;
    position: relative;
     -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite; 

}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {top:0px;}
    25%  {top:100px;}
    50%  {top:0px;}
    75%  {top:100px;}
    100% {top:0px;}
}

/* Standard syntax */
@keyframes example {
    0%   {top:0px;}
    25%  {top:100px;}
    50%  {top:0px;}
    75%  {top:100px;}
    100% {top:0px;}
}

img {
    max-width: 100%;
   

}

.image, .image2{
    width: 60%;
    height: auto;
}





/* width: 100%; will force an element to adopt the width of the page boundaries */
img.full-width {
    position: relative;
    margin: auto;
    width: 100%;
}

.smallimage{
    width: 300px;
    height: auto;
}






/*Display Settings*/

@media only screen and (min-width: 501px) {
  .smallimage{
    display: none;
  }

  #title{
    font-size: 80px;
  }

  .invisible{
    display: none;
}


        }

@media only screen and (max-width: 500px) {
/*img{
    max-width: 50%
    height: auto;
}*/


h1{
    font-size: 30px;
    line-height: 30px;
}

.smallimage{
    display: block;
}

 .takeover, .image, .image2, .image3, .image4, .image5, .image6, .image7, .image8, .image9, .image10, .image11, .image12, .image13, .image14, .image15, .image16{
    display: none;
}



p, h3, h4{
    font-size: 20px;
    line-height: 26px;

}

p.author{
    font-size: 20px;
    line-height: 20px;
}


.invisible{
    display: none;
}







